doctype html
html
    head
        title Pug and Stylus Installation
        link(rel="stylesheet", href="/style.css")
    body
        div(class="flex-comtainer")
            div
                h1 Pug and Stylus Installation
            div
                p.
                    This is a paragraph
                    and this is a new line
            div
                ul
                    li This is item 1
                    li This is item 2
                    li This is item 3
                    li This is item 4
        script(src='app.js')